@import 'tailwindcss';

@source "../app/";
@source "../components/";
@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar" {
  /* biome-ignore lint/correctness/noUnknownProperty: this is plugin config */
  preferredStrategy: 'pseudoelements';
  /* biome-ignore lint/correctness/noUnknownProperty: this is plugin config */
  nocompatible: true;
}

@theme {
  --color-anicotto-accent: oklch(var(--anicotto-accent));

  --color-anicotto-rating-great: oklch(var(--anicotto-rating-great));
  --color-anicotto-rating-good: oklch(var(--anicotto-rating-good));
  --color-anicotto-rating-average: oklch(var(--anicotto-rating-average));
  --color-anicotto-rating-bad: oklch(var(--anicotto-rating-bad));

  --color-anicotto-status-wanna_watch: oklch(var(--anicotto-status-wanna_watch));
  --color-anicotto-status-watching: oklch(var(--anicotto-status-watching));
  --color-anicotto-status-watched: oklch(var(--anicotto-status-watched));
  --color-anicotto-status-on_hold: oklch(var(--anicotto-status-on_hold));
  --color-anicotto-status-stop_watching: oklch(var(--anicotto-status-stop_watching));

  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));
  --color-card: oklch(var(--card));
  --color-card-foreground: oklch(var(--card-foreground));
  --color-popover: oklch(var(--popover));
  --color-popover-foreground: oklch(var(--popover-foreground));
  --color-primary: oklch(var(--primary));
  --color-primary-foreground: oklch(var(--primary-foreground));
  --color-secondary: oklch(var(--secondary));
  --color-secondary-foreground: oklch(var(--secondary-foreground));
  --color-muted: oklch(var(--muted));
  --color-muted-foreground: oklch(var(--muted-foreground));
  --color-accent: oklch(var(--accent));
  --color-accent-foreground: oklch(var(--accent-foreground));
  --color-destructive: oklch(var(--destructive));
  --color-destructive-foreground: oklch(var(--destructive-foreground));
  --color-border: oklch(var(--border));
  --color-input: oklch(var(--input));
  --color-ring: oklch(var(--ring));
  --color-chart-1: oklch(var(--chart-1));
  --color-chart-2: oklch(var(--chart-2));
  --color-chart-3: oklch(var(--chart-3));
  --color-chart-4: oklch(var(--chart-4));
  --color-chart-5: oklch(var(--chart-5));

  --color-background-50: color-mix(in srgb, var(--color-background), var(--color-foreground) 5%);
  --color-background-100: color-mix(in srgb, var(--color-background), var(--color-foreground) 10%);
  --color-background-200: color-mix(in srgb, var(--color-background), var(--color-foreground) 20%);
  --color-background-300: color-mix(in srgb, var(--color-background), var(--color-foreground) 30%);
  --color-background-400: color-mix(in srgb, var(--color-background), var(--color-foreground) 40%);
  --color-background-500: color-mix(in srgb, var(--color-background), var(--color-foreground) 50%);
  --color-background-600: color-mix(in srgb, var(--color-background), var(--color-foreground) 60%);
  --color-background-700: color-mix(in srgb, var(--color-background), var(--color-foreground) 70%);
  --color-background-800: color-mix(in srgb, var(--color-background), var(--color-foreground) 80%);
  --color-background-900: color-mix(in srgb, var(--color-background), var(--color-foreground) 90%);

  --color-foreground-50: color-mix(in srgb, var(--color-foreground), var(--color-background) 5%);
  --color-foreground-100: color-mix(in srgb, var(--color-foreground), var(--color-background) 10%);
  --color-foreground-200: color-mix(in srgb, var(--color-foreground), var(--color-background) 20%);
  --color-foreground-300: color-mix(in srgb, var(--color-foreground), var(--color-background) 30%);
  --color-foreground-400: color-mix(in srgb, var(--color-foreground), var(--color-background) 40%);
  --color-foreground-500: color-mix(in srgb, var(--color-foreground), var(--color-background) 50%);
  --color-foreground-600: color-mix(in srgb, var(--color-foreground), var(--color-background) 60%);
  --color-foreground-700: color-mix(in srgb, var(--color-foreground), var(--color-background) 70%);
  --color-foreground-800: color-mix(in srgb, var(--color-foreground), var(--color-background) 80%);
  --color-foreground-900: color-mix(in srgb, var(--color-foreground), var(--color-background) 90%);

  --color-anicotto-accent-50: color-mix(
    in srgb,
    var(--color-anicotto-accent),
    var(--color-background) 90%
  );
  --color-anicotto-accent-100: color-mix(
    in srgb,
    var(--color-anicotto-accent),
    var(--color-background) 80%
  );
  --color-anicotto-accent-200: color-mix(
    in srgb,
    var(--color-anicotto-accent),
    var(--color-background) 60%
  );
  --color-anicotto-accent-300: color-mix(
    in srgb,
    var(--color-anicotto-accent),
    var(--color-background) 40%
  );
  --color-anicotto-accent-400: color-mix(
    in srgb,
    var(--color-anicotto-accent),
    var(--color-background) 20%
  );
  --color-anicotto-accent-500: var(--color-anicotto-accent);
  --color-anicotto-accent-600: color-mix(
    in srgb,
    var(--color-anicotto-accent),
    var(--color-foreground) 20%
  );
  --color-anicotto-accent-700: color-mix(
    in srgb,
    var(--color-anicotto-accent),
    var(--color-foreground) 40%
  );
  --color-anicotto-accent-800: color-mix(
    in srgb,
    var(--color-anicotto-accent),
    var(--color-foreground) 60%
  );
  --color-anicotto-accent-900: color-mix(
    in srgb,
    var(--color-anicotto-accent),
    var(--color-foreground) 80%
  );
  --color-anicotto-accent-950: color-mix(
    in srgb,
    var(--color-anicotto-accent),
    var(--color-background) 90%
  );

  --color-anicotto-rating-great-pale: color-mix(
    in srgb,
    var(--color-anicotto-rating-great),
    var(--color-background) 50%
  );
  --color-anicotto-rating-great-deep: color-mix(
    in srgb,
    var(--color-anicotto-rating-great),
    var(--color-foreground) 50%
  );
  --color-anicotto-rating-good-pale: color-mix(
    in srgb,
    var(--color-anicotto-rating-good),
    var(--color-background) 50%
  );
  --color-anicotto-rating-good-deep: color-mix(
    in srgb,
    var(--color-anicotto-rating-good),
    var(--color-foreground) 50%
  );
  --color-anicotto-rating-average-pale: color-mix(
    in srgb,
    var(--color-anicotto-rating-average),
    var(--color-background) 50%
  );
  --color-anicotto-rating-average-deep: color-mix(
    in srgb,
    var(--color-anicotto-rating-average),
    var(--color-foreground) 50%
  );
  --color-anicotto-rating-bad-pale: color-mix(
    in srgb,
    var(--color-anicotto-rating-bad),
    var(--color-background) 50%
  );
  --color-anicotto-rating-bad-deep: color-mix(
    in srgb,
    var(--color-anicotto-rating-bad),
    var(--color-foreground) 50%
  );

  --color-anicotto-status-wanna_watch-pale: color-mix(
    in srgb,
    var(--color-anicotto-status-wanna_watch),
    var(--color-background) 50%
  );
  --color-anicotto-status-watching-pale: color-mix(
    in srgb,
    var(--color-anicotto-status-watching),
    var(--color-background) 50%
  );
  --color-anicotto-status-watched-pale: color-mix(
    in srgb,
    var(--color-anicotto-status-watched),
    var(--color-background) 50%
  );
  --color-anicotto-status-on_hold-pale: color-mix(
    in srgb,
    var(--color-anicotto-status-on_hold),
    var(--color-background) 50%
  );
  --color-anicotto-status-stop_watching-pale: color-mix(
    in srgb,
    var(--color-anicotto-status-stop_watching),
    var(--color-background) 50%
  );
  --color-anicotto-status-wanna_watch-deep: color-mix(
    in srgb,
    var(--color-anicotto-status-wanna_watch),
    var(--color-foreground) 50%
  );
  --color-anicotto-status-watching-deep: color-mix(
    in srgb,
    var(--color-anicotto-status-watching),
    var(--color-foreground) 50%
  );
  --color-anicotto-status-watched-deep: color-mix(
    in srgb,
    var(--color-anicotto-status-watched),
    var(--color-foreground) 50%
  );
  --color-anicotto-status-on_hold-deep: color-mix(
    in srgb,
    var(--color-anicotto-status-on_hold),
    var(--color-foreground) 50%
  );
  --color-anicotto-status-stop_watching-deep: color-mix(
    in srgb,
    var(--color-anicotto-status-stop_watching),
    var(--color-foreground) 50%
  );
}
