NEXTJS_ENV=development

# Annict OAuth
ANNICT_CLIENT_ID=9CgS0gi9ekVymQjQjvJ57lDjCdJR24icAdnGCH-izak
ANNICT_CLIENT_SECRET=KP1XmS33cRGHyyG0ztpdYl3vNLCymF_ZqPCCZ0JWeGQ

# Better Auth
BETTER_AUTH_SECRET=0m0EhVxs8IKdT1wiPfnLwLKt3gEboVfL
BETTER_AUTH_URL=http://localhost:3000
