@import './tailwind.css';

:root {
  --background: 100% 0 0;
  --foreground: 20% 0.04 256;
  --accent: 70% 0.2 20;
}

.dark:root {
  --background: 20% 0 0;
  --foreground: 90% 0 256;
  --accent: 70% 0.2 20;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}
